attrs>=24.2,<24.4
bumpver~=2024.1130
cattrs~=24.1.2
click~=8.1.7
dynaconf~=3.2.5
exif~=1.6.0
flit~=3.10.1
fs~=2.4.16
mkdocs~=1.6.1
mkdocs-click~=0.8.1
mkdocs-material~=9.5.44
more-itertools>=10.5,<10.7
PyYAML~=6.0.2
requests~=2.32.3
rich~=13.9.4
setuptools>=75.5,<75.9
typing_extensions~=4.12.2
