attrs~=23.2.0
cattrs~=23.2.3
click~=8.1.7
exif~=1.6.0
fs~=2.4.16
mkdocs~=1.5.3
mkdocs-click~=0.8.1
mkdocs-material~=9.5.4
more-itertools~=10.2.0
platformdirs>=4.1,<4.3
pyyaml~=6.0.1
requests~=2.31.0
rich~=13.7.0
setuptools~=69.1.1
typing_extensions~=4.9.0
